/* -----------------------------------GENERAL-------------------------------------------- */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo 2', cursive;
   
}
body{
    width: 100%;
    background-image: url(../img/fond.png);
    background-size: cover;
 
}

/* ------------------------------------------------------------HEADER------------------------------------------- */

/* ------------------------------------Menu---------------------------------------------- */
header{
    position: sticky;
    top: 0%;
    z-index: 100;
}

main{
    min-height: 70vh;
}


nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: center;
   
}

nav ul{
    list-style-type: none;
    margin: auto ;
 
}

nav ul li{
    float: left;
    width: 16.4%;
    text-align: center;
    position: relative;

}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    font-weight: bold;
    font-size: medium;
    display: block;
    text-decoration: none;
    color:  black;;
    border-bottom: 2px solid transparent;
    
}

.top{
    margin-top: 5%;
}

nav a:hover{
    color:#d2d976 ;
}

.sous{
    
    display: none;
   
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
    width: 100%;
    
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
} 
.sous h4{
    padding: 10px;
    border-bottom: none;
    
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
#panier {
    display: flex;
    position: relative;
}

#bullePanier{
    width: 10%;
    height: 3vh;
    position: absolute;
    background-color: rgba(199, 32, 32, 1);
    border-radius: 55px;
    display: flex;
    top : 2vh;
    left: 65px;
    color: white;
    justify-content: center;
    font-size: medium;
}
#imgPanier{
    margin-left: 2%;
}

/*----------------------------------------------------------------------MAIN---------------------------------------------------------------------*/

#enCeMoment{
 position: relative;

}

#text{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size:600%;
    bottom: 70vh;
}

#text2{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size:550%;
    bottom: 40vh;
}

#text3{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size:550%;
    bottom: 10vh;
}

#enCeMoment a button{
 width: 30%;
 position: absolute;
 border-radius: 20px;
 height: 15vh;
 bottom: 15vh;
 left: 65vw;
 border: none;
 background-color: rgba(97, 159, 68, 1);
 color: white;
 font-size: 350%;
 font-weight: bold;
 cursor: pointer;
}

#enCeMoment a:hover button{
    width: 30%;
    position: absolute;
    border-radius: 20px;
    height: 15vh;
    bottom: 15vh;
    left: 65vw;
    border: none;
    background-color: rgba(97, 159, 68, 1);
    color: white;
    font-size: 350%;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(1);
   }
/* ----------------------------------------------------------------------FOOTER---------------------------------------------------------------------*/

footer{

    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

 #piedDePage{
     
    background-color: rgba(167, 196, 144, 1);
    width: 90%;
    color: white;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    text-align: center;
}body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}
 a:hover {
  background-color: #f8f6f6;
}
.co{
  margin-bottom: 100px;
  color: rgb(244, 246, 247);
}

.in{
  color: rgb(244, 246, 247);
}
.no{
  margin-top: 30px;
}

fieldset{
  background-color: #d2d976 ;
}

li {
list-style-type: none;
}