/* -----------------------------------GENERAL-------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo 2', cursive;
    font-size: 100%;

}

body {
    width: 100%;
   
    background-image: url(../img/fond.png);
    background-size: 50%;

}

*,
*::before,
*::after {
    /* box-sizing: border-box; */
}



/* ------------------------------------------------------------HEADER------------------------------------------- */

/* ------------------------------------Menu---------------------------------------------- */
header {
    position: sticky;
    top: 0%;
    z-index: 100;
}

nav li a {
    font-size: x-large;
    align-content: center;
}

.top {
    margin-top: 5%;
}

#panier {
    display: flex;
    width: 100%;
}

#bullePanier {
    width: 300%;
    height: 23px;
    background-color: rgba(199, 32, 32, 1);
    border-radius: 55px;
    display: flex;
    color: white;
    justify-content: center;
    font-size: medium;
}


/*----------------------------------------------------------------------MAIN---------------------------------------------------------------------*/

#enCeMoment {
    position: relative;

}

#text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 550%;
    bottom: 70%;
    margin-left: 2%;
}

#text2 {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 550%;
    bottom: 40%;
    margin-left: 2%;
}

#text3 {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 550%;
    bottom: 10%;
    margin-left: 2%;
}

#enCeMoment a button {
    width: 32%;
    position: absolute;
    border-radius: 20px;
    height: 15%;
    bottom: 15%;
    left: 65%;
    border: none;
    background-color: rgba(97, 159, 68, 1);
    color: white;
    font-size: 300%;
    font-weight: bold;
    cursor: pointer;
}

#enCeMoment a button:hover {
    width: 32%;
    position: absolute;
    border-radius: 20px;
    height: 15%;
    bottom: 15%;
    left: 65%;
    border: none;
    background-color: rgb(130, 186, 104);
    color: white;
    font-size: 350%;
    font-weight: bold;
    cursor: pointer;
}

#bienvenue {
    margin-top: 2%;
    font-size: 900%;
    text-align: center;
    font-weight: 900;
}

#presentation {
    display: flex;
}

#color1 {
    color: #518B68;
}

#color2 {
    color: #9DBF8D;
}

#imgPresentation {
    margin: 2%;
    border: solid;
    background: url(image.png);
    border: 10px solid #518B68;
    box-sizing: border-box;

}

#presentation article {
    margin: 15% 5% 15%;
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3%;
}

#presentation article p {
    font-size: 150%;
}

#presentation article p span {
    font-weight: 900;
    font-size: 150%;
}

#presentation article h1 {
    font-weight: 900;
    font-size: 250%;
}

#informations {
    background-color: #9DBF8D;
    display: flex;
    width: 100%;
}

#localisation {
    margin: 2%;
    display: flex;
    color: white;
    flex-direction: column;

}

.form1 div input{

    width: 5%;
}

#localisation div:nth-child(1) {
    display: flex;
    margin: 0 0 5% 8%;

}

#localisation div h1 {
    font-weight: 900;
    font-size: 290%;
    margin: 3% 0 0 3%;
}

iframe {
    border-radius: 25px;
}

#horaires {
    margin: 2%;
    display: flex;
    color: white;
    flex-direction: column;
}

#horaires div:nth-child(1) {
    display: flex;
    margin: 0 0 5%;

}

#horaires div h1 {
    font-weight: 900;
    font-size: 290%;
    margin: 3% 0 0 3%;
}

#horaires div h2 {
    font-weight: 900;
    font-size: 250%;
    margin: 3% 0 0 3%;
    text-align: center;
}

.contenairProduit {
    margin-top: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.contenairProduit h1 {
    margin-left: 4%;
    font-weight: 900;
    font-size: 400%;
}

/* ----------------------------------------------------------------------FOOTER---------------------------------------------------------------------*/

footer {

    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#piedDePage {

    background-color: rgba(167, 196, 144, 1);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    width: 30% !important;
}

#chercher {
    text-transform: none;
    color: #28a745;
}

#chercher:hover {
    color: white;
}

/*------------------------------------------------------------------ MODE DE LIVRAISON ------------------------------------------------------------*/

.titre-livraison {
    margin-top: 5% !important;
    background-color: white !important;
    text-align: center !important;
    width: 90% !important;
}

.contenair-livraison {
    display: flex;
    margin-bottom: 5%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap !important;
    align-content: center;
}


.livraison {
    margin-top: 5%;
    border: none !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    width: 30%;
    background: #FCFCFC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
    flex-wrap: wrap;

}

.livraison:hover {
    margin-top: 5%;
    border: none !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    width: 30%;
    background: #e1e0e0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
    flex-wrap: wrap;

}
.livraison img {

    margin: 5% 0 0;
}

.livraison p {
    margin: 5% 0 5%;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    color: #518B68;

}

.click {

    margin-top: 3% !important;
}

/*----------------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------------------*/

@media only screen and (min-width:320px) and (max-width:991px) {

    #text {
        position: absolute;
        font-size: 100%;
        bottom: 18vh;
        margin-left: 2%;
    }

    #enCeMoment a button {
        width: 34%;
        position: absolute;
        border-radius: 20px;
        height: 20%;
        bottom: 15%;
        left: 65%;
        color: white;
        font-size: 100%;

    }

    #enCeMoment a button:hover {
        width: 34% !important;
        position: absolute;
        border-radius: 20px;
        height: 20%;
        bottom: 15%;
        left: 65%;
        border: none;
        background-color: rgb(130, 186, 104);
        color: white;
        font-size: 100%;
        font-weight: bold;
        cursor: pointer;
    }

    #bienvenue {
        margin-top: 5%;
        background-color: white;
    }


    .responsimg2 {
        display: none;

    }

    #presentation {
        display: flex;
        width: 100%;
    }

    #text2 {
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 100%;
        bottom: 10vh;
        margin-left: 2%;
    }

    #text3 {
        position: absolute;
        font-size: 100%;
        bottom: 1vh;
        margin-left: 2%;
    }

    button:not(:disabled),
    [type="button"]:not(:disabled),
    [type="reset"]:not(:disabled),
    [type="submit"]:not(:disabled) {
        cursor: pointer;
        width: 15%;
        padding: 2%;
    }


    #bullePanier {
        width: 300%;

    }
     

    .contenair-livraison {
        margin: 5% 0% 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
    }


     button.livraison {
        margin: 5% 0 5%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
        width: 90% !important;
        background: #FCFCFC;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        flex-wrap: wrap;

    }

    .adrebuton{
        color: white;
        font-size: 1.5em;
        border-style: none;
        border-radius: 10px;
        width: 100% !important;
        height: 55px;
        background-color: #88A66A;
        margin: 2% 0 2%;
    }

    .adrebuton{
        color: white;
        font-size: 1.5em;
        border-style: none;
        border-radius: 10px;
        width: 100% !important;
        height: 55px;
        background-color: #88A66A;
        margin: 5% 0 35% !important;
    }
    
}
  