#panier-container {
    width: 100%;
    display: flex;
    margin: 2%;
}


#panier-produit {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-right: 3px solid rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: space-between;
     align-items: center;
}

#add-produit {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 85%;
    margin-bottom: 3%;
}

.prix {
    text-align: end;
    margin: 1%;
    color: #A7C490;
    font-weight: 900;
}

#image {
    width: 70%;
   margin: 0 0 0 15%;
}

#information{

    width: 100%;
}

#infos {
    display: flex;
   width: 100% ;
}

#boxquantite {
    display: flex;
    justify-content: center;
    width: 80%;
}


.plus1 {
    background: #A7C490;
    border-radius: 3px;
    width: 10%;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

.plus1:hover {
    background: #A7C490;
    border-radius: 3px;
    width: 10%;
    border: none;
    color: white;
    font-size: 1.4rem;
    filter: brightness(95%);
    cursor: pointer;
}




.moins1 {
    background: #E90F0F;
    border-radius: 3px;
    width: 10%;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0 0 0 1%;
}

.moins1:hover {
    background: #E90F0F;
    border-radius: 3px;
    width: 10%;
    border: none;
    color: white;
    font-size: 1.4rem;
    filter: brightness(95%);
    cursor: pointer;
}

.number {
    width: 10% !important;
    text-align: center !important;
    margin: 0% 1% 0 1%;
}
#total-infos{
    width: 40%;
    margin: auto;
}

#total-produit {
    margin: auto;
    background: #FCFCFC;
    border: 1px solid #848484;
    border-radius: 7px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxquantite{
width: 100%;
}
#supprimer{
    text-align: end;
    margin: 1%;
    text-decoration: none;
}

#supprimer button a{
  
    text-decoration: none;
    color: black;
}


#total-produit section {
 width: 100% ;
 text-align: center;
}

#total-produit button {
    margin: 2%;
}