main{
    display: flex;
    justify-content: center;
}

section {
    z-index: 1;
    background-color: rgba(243, 120, 58, 0.04);
    display: flex;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5% 16%;
}
  
  
#edition, #adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
h2 {
    font-size: 2em;
    width: 86%;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
  
#edition h2 span {
    color: #88A66A;
}

#adresse h2 span {
    color: #88A66A
}
  
#edition form, #adresse form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
  
input {
    font-size: 0.8em;
    color: #848484;
    padding-left: 10px;
    font-weight: bold;
    border-style: none;
    height: auto;
    margin-bottom: 50px;
    height: 70px;
    box-shadow:1px 1px 1px lightgrey;
}
  
#edition {
    width: 50%;
    border-right:5px solid rgb(88 139 103);
    background-color: rgba(255, 255, 255, 0.77);
    padding-right:4% ;
}

#adresse {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.77);
    padding-left:4% ;
}
  
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#edition button {
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 40px;
    width: 60%;
    height: 55px;
    background-color: #88A66A;
   
}

#adresse button {
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 40px;
    width: 60%;
    height: 55px;
    background-color: #88A66A;
    margin: 0 0 10%;
}
  
 