
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    z-index: 1;
    background-color: rgba(243, 120, 58, 0.04);
    display: flex;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 5%;

}

#profil{

display: flex;
justify-content: center;
margin-top: 3% !important;
margin-bottom: 3%;
}

button, input {
    overflow: visible;
    margin: 3% !important;
}

.form1 input, .form1 select, .form1 textarea {
    text-align: center;
    width: 50%;
    margin: 1%;
}

#edition,
#adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: 2em;
    width: 86%;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

#edition h2 span {
    color: #88A66A;
}

#adresse h2 span {
    color: #88A66A
}

#edition form,
#adresse form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    font-size: 0.8em;
    color: #848484;
    padding-left: 10px;
    font-weight: bold;
    border-style: none;
    height: auto;
    margin-bottom: 50px;
    height: 40px;
    box-shadow: 1px 1px 1px lightgrey;
}

#edition {
    width: 50%;
    border-right: 5px solid rgb(88 139 103);
    background-color: rgba(255, 255, 255, 0.77);
    padding-right: 4%;
}

#adresse {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.77);
    padding-left: 4%;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#edition button {
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 40px;
    width: 60%;
    height: 55px;
    background-color: #88A66A;

}

#adresse button {
    color: white;
    font-size: 1em;
    border-style: none;
    border-radius: 40px;
    width: 60%;
    height: 55px;
    background-color: #88A66A;
    margin: 0 0 10%;
}

.adrebuton{
    color: white;
    font-size: 1.5em;
    border-style: none;
    border-radius: 10px;
    width: 40%;
    height: 55px;
    background-color: #88A66A;
    margin: 2% 0 2%;
}

#messageErreur {

    text-align: center;
    background-color: rgb(188, 24, 24);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#messageErreur h1 {

    font-size: large;
    font-weight: 600;
}

#messageSucces {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(24, 188, 92);
    color: whitesmoke;

}

#messageSucces h1 {

    font-size: large;
    font-weight: 600;
}

/*----------------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------------------*/

@media only screen and (min-width:320px) and (max-width:991px) {

    #profil {
        display: flex;
        flex-wrap: wrap;
    }

    #edition {
        width: 100%;
        border-right:none;
        background-color: rgba(255, 255, 255, 0.77);
        padding-right: 0%;
    }
   
    #adresse {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.77);
        padding-left: 0%;
        margin-top: 5%;
    }

   

}
     
